img{
    padding: 5px;
    width: 12%;
    height: 25%;}

.dot1{
  height: 4%;
  width: 2%;
  position:absolute;
  left: 12.6%;
  bottom: 80.3%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  z-index:2;
}

.dot2{
    height: 4%;
    width: 2%;
    position:absolute;
    left: 48.76%;
    bottom: 80.3%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index:2;
  }

.dot3{
    height: 4%;
    width: 2%;
    position:absolute;
    left: 86.3%;
    bottom: 80.3%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index:2;
}

.dot4{
    height: 4%;
    width: 2%;
    position:absolute;
    left: 12.6%;
    bottom: 36.2%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index:2;
}

.dot5{
    height: 4%;
    width: 2%;
    position:absolute;
    left: 48.76%;
    bottom: 36.2%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index:2;
}

.dot6{
    height: 25px;
    width: 25px;
    position:absolute;
    left: 86.3%;
    bottom: 36.2%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index:2;
}

.pokemon0{
    position: absolute;
    bottom: 435px;
    right: 1060px;
    width: 120px;
    height: 130px;
}

.pokemon1{
    position: absolute;
    bottom: 435px;
    right: 600px;
    width: 120px;
    height: 130px;
}

.pokemon2{
    position: absolute;
    bottom: 435px;
    right: 120px;
    width: 120px;
    height: 130px;
}

.pokemon3{
    position: absolute;
    bottom: 160px;
    right: 1060px;
    width: 120px;
    height: 130px;
}

.pokemon4{
    position: absolute;
    bottom: 160px;
    right: 600px;
    width: 120px;
    height: 130px;
}

.pokemon5{
    position: absolute;
    bottom: 160px;
    right: 120px;
    width: 120px;
    height: 130px;
}

#p1{
    position: absolute;
    left: 120px;
    top: 210px;
    visibility: hidden;
}

#p2{
    position: absolute;
    left: 585px;
    top: 210px;
    visibility: hidden;
}

#p3{
    position: absolute;
    left: 1065px;
    top: 210px;
    visibility: hidden;
}

#p4{
    position: absolute;
    left: 120px;
    bottom: 100px;
    visibility: hidden;
}

#p5{
    position: absolute;
    left: 585px;
    bottom: 100px;
    visibility: hidden;
}

#p6{
    position: absolute;
    left: 1065px;
    bottom: 100px;
    visibility: hidden;
}

#types1{
    position: absolute;
    left: 120px;
    top: 230px;
    visibility: hidden;
}

#types2{
    position: absolute;
    left: 585px;
    top: 230px;
    visibility: hidden;
}

#types3{
    position: absolute;
    left: 1065px;
    top: 230px;
    visibility: hidden;
}

#types4{
    position: absolute;
    left: 120px;
    bottom: 80px;
    visibility: hidden;
}

#types5{
    position: absolute;
    left: 585px;
    bottom: 80px;
    visibility: hidden;
}

#types6{
    position: absolute;
    left: 1065px;
    bottom: 80px;
    visibility: hidden;
}

#button{
    position: absolute;
    left: 595px;
    bottom: 40px;
}

#pokeball img:nth-child(1){
    position:absolute;
    left: 80px;
    top: 40px;
    z-index: 1;
}

#pokeball img:nth-child(2){
    position:absolute;
    left: 543px;
    top: 40px;
    z-index: 1;
}

#pokeball img:nth-child(3){
    position:absolute;
    left: 1023px;
    top: 40px;
    z-index: 1;
}

#pokeball img:nth-child(4){
    position:absolute;
    left: 80px;
    bottom: 150px;
    z-index: 1;
}

#pokeball img:nth-child(5){
    position:absolute;
    left: 543px;
    bottom: 150px;
    z-index: 1;
}

#pokeball img:nth-child(6){
    position:absolute;
    left: 1023px;
    bottom: 150px;
    z-index: 1;
}
/*Blinking*/
@keyframes blink {
    from { background: #bbb;}
    to { background: #e74c3c; }
}

@keyframes grow {
    /*from { transform: scale(0); }
    to { transform: scale(8); }*/
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(8);
    }
    99.99%{
        transform: scale(0);
    }

    100%{
        visibility: hidden;
    }
}

@keyframes hide {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(0);
    }
}